body {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(238, 130, 238, 0.658);
}

main {
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 12% auto;
  width: 250px;
  height: 400px;
}

article {
  border: 2px solid black;
  border-radius: 5px;
  height: 2rem;
  margin: 1.5rem;
}

#visor {
  font-size: 30px;
}

#visor span {
  float: right;
  padding-right: 10px;
}

.mt-1 {
  margin-top: 20px;
}
.mt-2 {
  margin-top: 5px;
}

.btn {
  font-size: 15px;
  width: 50px;
  height: 50px;
}

.btn2 {
  font-size: 20px;
  width: 50px;
  height: 50px;
}

.btn_style {
  background-color: rgba(209, 200, 200, 0.842);
  border-radius: 4px;
}

.btn_style2 {
  background-color: rgba(219, 228, 230, 0.534);
  border-radius: 4px;
}

.btn_efect {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn_efect:active {
  background-color: #f1fd7e;
  transform: translateY(1px);
}
